name: test & build suite
on:
  pull_request:
    branches:
      - dev
      - main
  push:
    branches:
      - main
jobs:
  validatees-suite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: "18.x"
      - name: install npm modules
        run: |
          echo "::node-version::"
          node -v
          npm ci
      - name: lint code base
        run: |
          npm run lint
      - name: build code base
        run: |
          npm run build --if-present
      - name: run test suite
        run: |
          npm test
