# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://help.github.com/actions/language-and-framework-guides/publishing-nodejs-packages

name: publish package.

on:
  push:
    branches:
      - main

jobs:
  check-version:
    runs-on: ubuntu-latest
    needs: validatees-suite
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: run version check
        run: |
          node check-version
        # if this step fails, the workflow will stop
  validatees-suite:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - name: install npm modules
        run: |
          npm ci
      - name: lint code base
        run: |
          npm run lint
      - name: build code base
        run: |
          npm run build --if-present
      - name: run test suite
        run: |
          npm test
  publish-npm:
    needs: [validatees-suite, check-version]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          registry-url: https://registry.npmjs.org/
      - run: |
          npm ci
          npm run build
          npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_CI_TOKEN}}
